* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}



/*ABOUT ME SECTION CSS*/
.aboutme {
  background-color: #212121;
  z-index: -1;
  display:flex;
  justify-content: space-evenly;
  flex-flow:row;
  background-image: url('./assets/images/img12.jpg');
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
 
}

.aboutme-container{
  margin-bottom: 120px;
  margin-left: 100px;
  margin-right: 100px;
  
  display:flex;
  flex-direction: column;
   flex-wrap: wrap;
  
   
}
.about-card{
  width: 40%;
  display: block;
  margin:auto;
  height: auto;
  padding:10px;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin-top: 50px;
  font-size: large;
}

.about-card header{
  color: black;
  margin: 0;
  text-align:center;
  font-family: Helvetica, sans-serif;
  font-size: 125%;;

}
@media (min-width:961px) {
  .aboutme {
    height: 100vh;
  }
  
}
@media (max-width:960px) {
  .aboutme-container {
    display: block;
  }
  .about-card{
    width: 70%;
  }
}




/* CONTACT SECTION */
.contact {
  display:flex;
  height: 100vh;
  flex-wrap:wrap;
  justify-content: space-evenly;
  flex-flow: column;

  background-image: url('./assets/images/img13.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #212121;
  z-index: -1;
  

}
.contact-card{
  width:70%;
  margin:auto;
  padding:10px;
  background-color:rgba(31, 31, 31, 0.7);
  border-radius: 5px;
  margin-top: 50px;

}
.contact-card header{
  color: white;
  margin: 0;
  text-align:center;
  font-family: Helvetica, sans-serif;
  font-size: 125%;;

}

.contact-card form{
  display: flex;
  flex-direction: column;
  text-align: center; 
  font-family: Helvetica, sans-serif;
  font-size: 100;
  margin-top: 40px;
  gap: 20px;
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-group label{
  color:white;
  text-align: left;
  font-size: 1.25rem;
}
.input-group input {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color:rgba(255, 255, 255, 0.3)
}

.input-group textarea {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color:rgba(255, 255, 255, 0.3)
}

