* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutme {
  display:flex;
  height: 90vh;
  flex-wrap:wrap;
  justify-content: space-evenly;
  flex-flow: column;


  background-image: url('./assets/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #212121;
  z-index: -1;
}

.contact {
  display:block;
  height: 90vh;
  flex-wrap:wrap;
  justify-content: space-evenly;
  flex-flow: column;
  margin-left:auto;

  background-image: url('./assets/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #212121;
  z-index: -1;

}
 .contact label{
    padding: 25px 25px 25px 25px;

 }



/* Styling for info Cards that are in flex*/
.card{
  width:100%;
  padding:10px;
  border: 3px red;
  background-color:rgba(255, 255, 255, 0.75);
  border-radius: 5px;

}




.card header{
  text-align:center;
  font-family: Helvetica, sans-serif;
  font-size: 125%;;
}


.card p{
  text-align: left; 
  font-family: Helvetica, sans-serif;
  font-size: 100;
  padding-left:20px; 
}




